{{!
    This file is part of mod_kahoodle plugin

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_kahoodle/facilitator/common/footer

    Quiz overlay footer partial with progress bar and controls.

    Context variables required for this template:
    * cancontrol - Boolean indicating if user can control the quiz (teacher)
    * isedit - Boolean indicating if it is rendered for teachers when they edit the questions


    Example context (json):
    {
        "cancontrol": true,
        "isedit": true
    }
}}
<footer class="mod_kahoodle-footer">

    {{! Time progress bar }}
    <div class="mod_kahoodle-progress">
        <div class="mod_kahoodle-progress-bar">
            <div class="mod_kahoodle-progress-fill" style="width: 0%;"></div>
        </div>
    </div>

    {{! Teacher controls }}
    {{#cancontrol}}
    <div class="mod_kahoodle-controls">
        {{#isedit}}
        <a href="#" class="mod_kahoodle-control-btn" data-action="back">
            {{#pix}}back, mod_kahoodle{{/pix}} {{#str}}back{{/str}}
        </a>
        {{/isedit}}
        <a href="#" class="mod_kahoodle-control-btn" data-action="pause">
            {{#pix}}pause, mod_kahoodle{{/pix}} {{#str}}pause, mod_kahoodle{{/str}}
        </a>
        <a href="#" class="mod_kahoodle-control-btn" data-action="resume">
            {{#pix}}resume, mod_kahoodle{{/pix}} {{#str}}resume, mod_kahoodle{{/str}}
        </a>
        {{^isrevision}}
        <a href="#" class="mod_kahoodle-control-btn" data-action="next">
            {{#pix}}next, mod_kahoodle{{/pix}} {{#str}}next{{/str}}
        </a>
        {{/isrevision}}
        {{^isrevision}}
        <a href="#" class="mod_kahoodle-control-btn" data-action="close">
            {{#pix}}i/window_close, core{{/pix}} {{#str}}close, mod_kahoodle{{/str}}
        </a>
        {{/isrevision}}
        {{#isrevision}}
        <a href="#" class="mod_kahoodle-control-btn" data-action="next">
            {{#pix}}i/window_close, core{{/pix}} {{#str}}finishgame, mod_kahoodle{{/str}}
        </a>
        {{/isrevision}}
    </div>
    {{/cancontrol}}

</footer>
