{{!
    This file is part of mod_kahoodle plugin

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_kahoodle/common/question_preview

    Question preview.

    Example context (json):
    {
        "quiztitle": "Geography & World Facts Quiz",
        "sortorder": 36,
        "totalquestions": 42,
        "questiontext": "How long would it take to walk around the world's perimeter?",
        "questiontextcompact": "How long would it take to walk around the world's perimeter?",
        "questiontype": "multichoice",
        "typeismultichoice": true,
        "typedata": {
        }
    }
}}
<div class="mod_kahoodle-overlay" {{#backgroundurl}}style="background-image: url('{{backgroundurl}}');"{{/backgroundurl}}>

    {{> mod_kahoodle/common/header }}

    {{! Main content: Question, image, and options }}
    <main class="mod_kahoodle-main">

        {{! Question text (compact) }}
        <div class="mod_kahoodle-question">
            <h1 class="mod_kahoodle-question-text">{{{questiontextcompact}}}</h1>
        </div>

        {{! Question type specific content }}
        {{$ question_type_contents }}
        {{/ question_type_contents }}

    </main>

    {{> mod_kahoodle/common/footer }}

</div>
