{{!
    This file is part of mod_kahoodle plugin

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_kahoodle/stages/leaders

    Leaderboard stage template - shown after question results.

    Context variables required for this template:
    * quiztitle - The title of the quiz/kahoodle activity
    * currentquestion - Current question number
    * totalquestions - Total number of questions in the round
    * cancontrol - Boolean indicating if user can control the quiz (teacher)
    * isedit - Boolean indicating if it is rendered for teachers when they edit the questions
    * backgroundurl - URL for background image
    * leaders - Array of leader objects (placeholder for now)

    Example context (json):
    {
        "quiztitle": "Geography & World Facts Quiz",
        "currentquestion": 3,
        "totalquestions": 10,
        "cancontrol": true,
        "isedit": false,
        "backgroundurl": "/mod/kahoodle/pix/classroom-bg.jpg",
        "leaders": []
    }
}}
<div class="mod_kahoodle-overlay" {{#backgroundurl}}style="background-image: url('{{backgroundurl}}');"{{/backgroundurl}}>

    <header class="mod_kahoodle-header">
        <div class="mod_kahoodle-quiz-title">{{quiztitle}}</div>
        <div class="mod_kahoodle-question-counter">{{#str}}questioncounter, mod_kahoodle, { "current": "{{currentquestion}}", "total": "{{totalquestions}}" }{{/str}}</div>
    </header>

    <main class="mod_kahoodle-main mod_kahoodle-leaders" data-stage="leaders">

        <div class="mod_kahoodle-leaders-content">
            <h1 class="mod_kahoodle-leaders-title">{{#str}}stage_leaders, mod_kahoodle{{/str}}</h1>
            <p class="mod_kahoodle-leaders-placeholder">{{#str}}stage_leaders_placeholder, mod_kahoodle{{/str}}</p>
        </div>

    </main>

    {{> mod_kahoodle/common/footer }}

</div>
