{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_kahoodle/question_player

    TODO describe template question_player

    Example context (json):
    {
    }
}}
<div class="container">
    <div class="row mb-3">
        <div class="col-12 options-container">
            {{#options}}
                <button class="card mb-2 w-100" data-action="answer" data-questionid="{{questionid}}"
                        data-optionid="{{id}}" {{#isanswered}}disabled{{/isanswered}}>
                    <div class="card-body">
                        {{#isanswer}} X {{/isanswer}}
                        {{{text}}}
                    </div>
                </button>
            {{/options}}
        </div>
    </div>
</div>

<style>
    :root {
        --option-color-1: #F98012;
        --option-color-1-hover: #dc6700;

        --option-color-2: #9ABB50;
        --option-color-2-hover: #708a38;

        --option-color-3: #69E0FF;
        --option-color-3-hover: #4ea4bd;

        --option-color-4: #FFE84F;
        --option-color-4-hover: #cab83f;
    }

    .card:nth-child(1) {
        background-color: var(--option-color-1);
    }

    [data-action="answer"]:nth-child(2) {
        background-color: var(--option-color-2);
    }

    [data-action="answer"]:nth-child(3) {
        background-color: var(--option-color-3);
    }

    [data-action="answer"]:nth-child(4n+4) {
        background-color: var(--option-color-4);
    }

    /* Hover states */
    [data-action="answer"]:nth-child(1):hover:not([disabled]) {
        background-color: var(--option-color-1-hover);
    }

    [data-action="answer"]:nth-child(2):hover:not([disabled]) {
        background-color: var(--option-color-2-hover);
    }

    [data-action="answer"]:nth-child(3):hover:not([disabled]) {
        background-color: var(--option-color-3-hover);
    }

    [data-action="answer"]:nth-child(4):hover:not([disabled]) {
        background-color: var(--option-color-4-hover);
    }
</style>