{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_kahoodle/questionleaderboard_gamemaster

    TODO describe template questionleaderboard_gamemaster

    Example context (json):
    {
        "players": [
            {
                "playerid": 10,
                "name" "Max Mustermann",
                "points": 100,
            },
        ]
    }
}}
<h4>Current Score</h4>
<ul class="list-unstyled">
    {{#players}}
        <li class="border border-5 border-{{color}} p-2 mb-3 mt-3" style="border-width: 5px !important;">
            <i class="fa-solid fa-star fa-2x text-{{color}}" aria-hidden="true"></i>
            <span style="font-size: 2em; font-weight: 600;" class="text-{{color}} ml-3">
                {{name}}: {{points}} points
            </span>
        </li>
    {{/players}}
</ul>
<div><button class="btn btn-primary" data-action="transition">Next</button></div>
