{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_kahoodle/questionresult_gamemaster

    TODO describe template questionresult_gamemaster

    Example context (json):
    {
    }
}}

<div class="chart-area" id="chart-area-{{uniqid}}">
    <div class="chart-image" role="presentation"></div>
</div>

{{#js}}
require([
    'jquery',
    'core/chart_builder',
    'core/chart_output_chartjs',
], function($, Builder, Output) {
    var data = {{{chartdata}}},
        uniqid = "{{uniqid}}",
        chartArea = $('#chart-area-' + uniqid),
        chartImage = chartArea.find('.chart-image');
    Builder.make(data).then(function(ChartInst) {
        new Output(chartImage, ChartInst);
    });
});
{{/js}}

{{#options}}
<div class="mod_kahoodle_option{{id}} {{#iscorrect}}mod_kahoodle_option_correct{{/iscorrect}}">
    {{{text}}}
</div>
{{/options}}
<div><button data-action="transition">Next</button></div>
