{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_kahoodle/questionresult_gamemaster

    TODO describe template questionresult_gamemaster

    Example context (json):
    {
    }
}}

<div id="game">
  
    <ul>
    {{#statistics}}
    <li>
        {{text}} {{count}}
    </li>
    {{/statistics}}
    </ul>

    {{#options}}
    <div class="answer mod_kahoodle_option{{id}} {{#iscorrect}}mod_kahoodle_option_correct{{/iscorrect}}">
        {{{text}}}
    </div>
    {{/options}}
    <div><button data-action="transition" class="btn btn-primary">Next</button></div>

</div>
